.u-section-1 .u-sheet-1 {
  min-height: 321px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 60px auto;
  padding: 8px 33px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}